<%- include('../navbar') %> 
<h2 class="title"><b>Create a new recipe</b></h2>
<br>

<form action="/recipes" method="POST" class="add" autocomplete="off">
    <br>
    <label for="name">Recipe Name:</label><br>
    <input type="text" id="recipeName" name="name">

    <label for="prepTime">Prep Time:</label><br>
    <input type="number" id="prepTime" name="prepTime">

    <label for="cookTime">Cook Time:</label><br>
    <input type="number" id="cookTime" name="cookTime">

    <label for="ingredients">Ingredients:</label><br>
    <input type="text" id="ingredients" name="ingredients">

    <label for="directions">Directions:</label><br>
    <input type="text" id="directions" name="directions">

    <input type="submit" class="button_active" value="submit"/>

</form>